<div class="jumbotron">
	<h1>Welcome to Arni's App</h1>
	<p>Click here to <%= link_to "sign up", "http://www.barbie.com/en-us", class: "btn btn-primary btn-lg" %> Dan Shank!</p>
	<p>Click here to <%= link_to "sign up", "http://noteflight.com", class: "btn btn-primary btn-lg" %> Vitor Grail!</p>
</div>